* {
  margin: 0;
  padding: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: rotate(-2deg);
  }

  100% {
    opacity: 1;
    transform: rotate(2deg);
  }
}

p {
  animation: fadeIn 2.5s;

}

li {
  animation: fadeIn 1.5s;
}

img {
  animation: fadeIn 2s;
}

.flex {
  display: flex;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#homeBackground {
  background-image: url('../src/Pictures/kidStudying.jpg');
  background-size: cover;
  min-height: 90vh;
  width: 100vw;
}

#homePgInfo {
  background-color: rgba(70, 206, 252, 0.576);
  /* Adjust the alpha value (0.5) for transparency */
  padding: 2%;
  /* Adjust padding as needed */
  width: 80vw;
  border-left: 4px double white;
  /* Add this line */

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}